<div class="row">
    <div class="col">
        <input #termino type="text" (keyup) = "buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>


<div *ngIf="error" class="alert alert-danger animated fadeIn m-5">
    <h3>Error</h3>
    <p>{{messageError | uppercase}}</p>
</div>

<div class="card-columns m-5 animated fadeIn">
      <img [src]="knight.url_photo" class="card-img-top" alt="{{ knight.name }}">
      <div class="card-body">
        <h5 class="card-title">
            {{ knight.name }} de {{ knight.constellation }}
        </h5>
        <ul>
            <li>1° Habilidad: {{knight.hability1}}</li>
            <li>2° Habilidad: {{knight.hability2}}</li>
            <li>3° Habilidad: {{knight.hability3}}</li>
            <li>4° Habilidad: {{knight.hability4}}</li>
        </ul>
        <div class="card-text">
            <h2>Dios: <span class="badge badge-secondary">{{ knight['god']?.name }}</span></h2>
        </div>
        <div class="card-text">
            <h2>Armadura: <span class="badge badge-primary">{{ knight['armor']?.nameArmor }}</span></h2>
        </div>
</div>
</div>